<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <body>
      <link rel="stylesheet" type="text/css" href="loginstyle.css">
      <link rel="stylesheet" type="text/css" href="splashStyle.css">
      <div class="row col-xs-6 block2 center">
        <h2>Login</h2>
        <form>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" name="email" ng-model="login.email" required focus/>
     </div>

     <div class="form-group">
       <input type="password" class="form-control" placeholder="Password" ng-model="login.password" required/>
     </div>
      <button type="submit" class="btn" ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">Login</button>
  </form>
  </div>
  </body>
</head>
</html>
