.btn-home { //jobs button
  color: white;
  font: Helvetica;
  font-size: 40px;
  position: absolute;
  top: 10px;
  align-content: center;
  align-self: flex-start;
  background:none;
  border:none;
  margin:0;
  padding:0;
}

.btn-job {
  background-color: rgba(199, 168, 41, 0.5);
  color: white;
  position: absolute;
  top: 30px;
  left: 300px;
  border: none;
}

.btn-prof {
  background-color: rgba(199, 168, 41, 0.5);
  color: white;
  position: absolute;
  top: 30px;
  left: 500px;
  border: none;
}

.btn-rent {
  background-color: rgba(199, 168, 41, 0.5);
  color: white;
  position: absolute;
  top: 30px;
  left: 700px;
  border: none;
}

.btn-postJob {
  background-color: red;
  /*background-color: rgba(199, 168, 41, 0.5);*/
  color: white;
  position: absolute;
  top: 30px;
  left: 1000px;
}

.btn-logout{
  background-color: rgba(199, 168, 41, 0.5);
  color: white;
  position: absolute;
  top: 30px;
  left: 1200px;
  border: none;
}

.image_box {
  width: 98%;
   height: 100px;
   padding: 20px;
   border: 1px dotted black;
}

#news1 {
  width: 40%;
  height : 57%;
  margin-top:1%;
  margin-left:1%;
}

.box {
  height: 27%;
  width: 100%;
  border: 2px solid black;
  position: absolute;
  bottom: 10%;
  top: 90%;
}

h4 {
  text-align: center;
}

#news2 {
  margin-left: 50%;
  margin-top: -12%;
  width: 46%;
}
