<!DOCTYPE html>
<html lang="en">
<head>
  <title>FilmedIn</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="splashStyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>FilmedIn</h1>
  <button id = "JobsBtn" type = "button" class="btn-lg">Jobs</button>
  <button id = "NewsBtn" type = "button" class="btn">News</button>
  <button id = "SignUpBtn" type = "button" class="btn-success" data-toggle="modal" data-target="#SignUpModal">Sign Up!</button>
 <button id = "LoginBtn" type = "button" class="btn-primary" data-toggle="modal" data-target="#LoginModal">Log In!</button>
</div>

<div class="modal fade" id="LoginModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Login!</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email" name="email" ng-model="login.email" required focus/>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" ng-model="login.password" required/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">Login</button>
        <button id = "ForgotPassBtn" type="button" class="btn-forgotPass" data-toggle="modal" data-target = "#ForgotPassModal">Forgot Your Password</button>
      </div>
    </div>
  </div>
 </div>

 <div class="modal fade" id="ForgotPassModal" role="dialog">
   <div class="model-dialog">
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <h2 class="model-title">Forgot Password</h2>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <div class="form-group">
           <input type="email" class="form-control" placeholder="Email" name="email" ng-model="login.email" required focus/>
         </div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn" ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">Reset Password</button>
       </div>
     </div>
   </div>
  </div>


 <div class="modal fade" id="SignUpModal" role="dialog">
   <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <h2 class="modal-title">SignUp!</h2>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
      </div>
     <div class="modal-body">
       <div class="form-group">
         <input type="email" class="form-control" placeholder="Email*" name="email" ng-model="login.email" required focus/>
       </div>
       <div class="form-group">
          <input type="password" class="form-control" placeholder="Password*" ng-model="login.password" required/>
       </div>
     <div class="form-group">
        <input type="password" class="form-control" placeholder="Re-enter password*" ng-model="login.password" required/>
     </div>
   </div>
   <div class="modal-footer">
     <button type="submit" class="btn" ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">Join Now</button>
   </div>
   </div>
  </div>
  </div>
  <div>

</body>
</html>
