h1 {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  color: rgb(229, 198, 71);
  font-size: 100px;
  font-style: italic;
  font-family: fantasy;
  transform: translate(-50%, -50%);
}

html {
  /*background-image: https://ak5.picdn.net/shutterstock/videos/806455/thumb/1.jpg;*/
  background: url("background.png") no-repeat center fixed;
  background-size: cover;
  /*overflow-y: auto;*/
}

.btn-lg { //jobs button
  color: white;
  background-color: pink;
  position: absolute;
  border: 2px solid #f44336;
  top: 350px;
  width: 280px;
  right: 530px;
  left: 450px;
}

.btn { //news button
  color: white;
  background-color: pink;
  position: absolute;
  font-size: 20px;
  border: 2px solid #f44336;
  top: 410px;
  width: 280px;
  right: 550px;
  left: 450px;
}

.btn-success { //Sign Up button
  color: white;
  position: absolute;
  background-color: pink;
  border: 2px solid #f44336;
  top: 500px;
  right: 300px;
  left: 200px;
}

.btn-primary { //Login button
  color: white;
  position: absolute;
  background-color: pink;
  top: 500px;
  border: 2px solid #f44336;
  right: 200px;
  left: 900px;
}
