.btn-home {
  color: white;
  font: Helvetica;
  font-size: 40px;
  position: absolute;
  top: 10px;
  align-content: center;
  align-self: flex-start;
  background:none;
  border:none;
  margin:0;
  padding:0;
}

.btn-job {
  background-color: rgba(199, 168, 41, 0.5);
  color: white;
  position: absolute;
  top: 30px;
  left: 300px;
  border: none;
}

.btn-prof {
  background-color: rgba(199, 168, 41, 0.5);
  color: white;
  position: absolute;
  top: 30px;
  left: 500px;
  border: none;
}

.btn-rent {
  background-color: rgba(199, 168, 41, 0.5);
  color: white;
  position: absolute;
  top: 30px;
  left: 700px;
  border: none;
}

.btn-feedback {
  background-color: rgba(199, 168, 41, 0.5);
  color: white;
  position: absolute;
  top: 30px;
  left: 1050px;
  border: none;
}

.btn-postJob {
  background-color: red;
  /*background-color: rgba(199, 168, 41, 0.5);*/
  color: white;
  position: absolute;
  top: 30px;
  left: 900px;
}

.btn-logout {
  background-color: rgba(199, 168, 41, 0.5);
  color: white;
  position: absolute;
  top: 30px;
  left: 1200px;
  border: none;
}

.content {
  width: auto;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  /*background-color: #95a5a6;*/
  margin-left: 2%;
  padding: 15px;
  margin-right: 15px;
  margin-top: 4%;
}

.HeaderPanel {
  width: 100%;
  background-color: black;
  height: 20%;
  padding: 12px;
  color:white;
  text-align: center;
}

.tickmark1, .tickmark2, .tickmark3 {
  display: none;
}

/*#NOBtn {
  color: inherit;
}*/

#YESBtn:active {
  background: green;
}

#NOBtn:active {
  background: red;
}

#PARTIALLYBtn:active {
  background: yellow;
}

#sendFeedbackBtn {
    left: 85%;
    margin-top: -2%;
    position: absolute;
}
