.btn-home {
  color: white;
  font: Helvetica;
  font-size: 40px;
  position: absolute;
  top: 10px;
  align-content: center;
  align-self: flex-start;
  background:none;
  border:none;
  margin:0;
  padding:0;
}

.btn-job {
  background-color: rgba(199, 168, 41, 0.5);
  color: white;
  position: absolute;
  top: 30px;
  left: 250px;
  border: none;
}

.btn-prof {
  background-color: rgba(199, 168, 41, 0.5);
  color: white;
  position: absolute;
  top: 30px;
  left: 400px;
  border: none;
}

.btn-rent {
  background-color: rgba(199, 168, 41, 0.5);
  color: white;
  position: absolute;
  top: 30px;
  left: 550px;
  border: none;
}

.btn-feedback {
  background-color: rgba(199, 168, 41, 0.5);
  color: white;
  position: absolute;
  top: 30px;
  left: 900px;
  border: none;
}

.btn-postJob {
  /*background-color: red;*/
  background-color: rgba(199, 168, 41, 0.5);
  color: white;
  position: absolute;
  top: 30px;
  left: 750px;
  border: none;
}

.btn-logout {
  background-color: rgba(199, 168, 41, 0.5);
  color: white;
  position: absolute;
  top: 30px;
  left: 1080px;
  border: none;
}

.btn-myProf {
  background-color: rgba(199, 168, 41, 0.5);
  position: absolute;
  top: 30px;
  left: 1200px;
  border: none;
}

.panels {
  position: absolute;
  width: 1000px;
  top: 160px;
  left: 170px;
  border: none;
}

.panels .panel-group {
  border: none;
}
.panels .panel-group .panel-heading {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  color: black;
}

.panels .panel-group .panel-heading .btn-edit-Ed {
  position: absolute;
  left: 950px;
}

.panels .panel-group .panel {
  border: none;
}

.panel-body {
  height:fit-content;
}

.deleteMe{
    background: rgba(0, 0, 0, 0.1);
    color: red;
    font-style: bold;
    float: right;
}

#jobPostBtn {
  left: 90%;
  position: absolute;
}


#range {
  left: 100px;
  top: 210px;
  position: absolute;
}

h2 {
  margin-left: 20px;
}
