div #rent-container {
  width: 100%;
  margin: 0 auto;
}
.content {
  width: auto;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  margin-left: 5%;
  padding: 15px;
  margin-right: 15px;
}

div#box{
  margin-top: 5px;
  display: flex;
  height: 50px;
}

div#box .box-top1 {
   background-color: rgba(0, 0, 0, 0.3);
   color: #2980b9;
    border: none;
    padding: 15px;
    width: 45%;
    font-size: 25px;
}

div#box .panel-collapse {
  height:fit-content;
  padding: 15px;
  background-color: #fff;
  width: 50%;
  flex-grow: 1;
}

div#box .box-top2, .box-top3, .box-top4, .box-top5, .box-top6, .box-top7 {
   background-color: rgba(0, 0, 0, 0.3);
   color: #2980b9;
    border: none;
    padding: 15px;
    width: 45%;
    font-size: 25px;
}
/*
div#box .panel-collapse {
  padding: 15px;
  background-color: #fff;
  width: 55%;
}*/


#btnSubmit {
  float: right;
  margin-top: 5%;
}




.btn-home {
  color: white;
  font: Helvetica;
  font-size: 40px;
  position: absolute;
  top: 10px;
  align-content: center;
  align-self: flex-start;
  background:none;
  border:none;
  margin:0;
  padding:0;
}

.btn-job {
  background-color: rgba(199, 168, 41, 0.5);
  color: white;
  position: absolute;
  top: 30px;
  left: 300px;
  border: none;
}

.btn-prof {
  background-color: rgba(199, 168, 41, 0.5);
  color: white;
  position: absolute;
  top: 30px;
  left: 500px;
  border: none;
}

.btn-rent {
  background-color: rgba(199, 168, 41, 0.5);
  color: white;
  position: absolute;
  top: 30px;
  left: 700px;
  border: none;
}

.btn-postJob {
  background-color: red;
  color: white;
  position: absolute;
  top: 30px;
  left: 1000px;
}

.btn-logout{
  background-color: rgba(199, 168, 41, 0.5);
  color: white;
  position: absolute;
  top: 30px;
  left: 1200px;
  border: none;
}
